.App {  
  width: 100%;
  display: flex;    
  align-items: flex-start; 
  justify-content: flex-start; 
  padding-top: 2em; 
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;    
  box-shadow: rgba(48, 46, 46, 0.2) 0px 8px 24px;
  padding: 1em;       
  float: right; 
}

.revenueCard, .customerCard {
  width: 62%;
  height: 20rem;     
  margin-bottom: 1em; 
  margin-left: auto; 
  margin-top: 1em; 
}

.grafico {
  width: 30%;         
  margin: 0 1em;
  margin-left: 90em;
  margin-top: 1em; 
}
