/* .App {
  display: flex;
  padding-top: 4em; 
  width: 80rem; 
} */

.content-wrapper {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 30px;
}

.quadrado-perfil {
  /* width: 250px;           */
  flex: 1; /* Adiciona elemento peso 1 dentro de container */
  min-height: 100%;    
  box-shadow: 0 0 10px black;  
  border-radius: 10px;
}

.quadrado-grafico {
  flex: 3; /* Adiciona elemento peso 3 dentro de container */
  /* width: 400px;  */
  /* height: 48.1rem;      */
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  /* margin-top: 1px;  */
  padding: 20px;
  display: grid;         
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.perf-colab{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px hsl(210,50%,50%);
  background-color: hsl(0,0%,25%);
  box-sizing: content-box;
}

.perf-colab .foto-colab{
  width: 256px;
  margin: 15px;
  background-color: white;
  border-radius: 100%;
  padding: 14px;
  box-sizing: content-box;
}
.perf-colab .foto-colab img{
  width: 100%;
  border-radius: 100%;
}

.perf-colab .mat-filtro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0 20px;
}
.perf-colab .mat-filtro .materia-filtra{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  & img{
    width: 2rem;
  }

  & ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    color: hsl(200,100%,80%);
    overflow-y: scroll;
    padding: 0 10px;
    & li:nth-child(odd){
      cursor: pointer;
      padding: 4px;
      background-color: hsl(0,0%,40%);
    }
    & li:nth-child(even){
      cursor: pointer;
      padding: 4px;
    }
  }
}
.perf-colab .mat-filtro .mat-pontuacao{
  color: hsl(200,100%,80%);

  & p{
    text-align: center;
    color: hsl(150,100%,70%);
    margin-top: 10px;
    padding: 10px;
    background-color: hsl(0,0%,40%);
  }
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(48, 46, 46, 0.2) 0px 8px 24px;
  padding: 1em;
  margin-bottom: 10px;
  height: 30rem;
  margin-right: -70rem;
}

.perfil-section {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.perfil-section img {
  border-radius: 50%;
  transition: transform 0.3s;
}

.perfil-section img:hover {
  transform: scale(1.1);
}

.treinamentos-box {
  border: 1px solid #ccc;
  margin: 0.5em 0;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
  background-color: #f9f9f9;
  margin-right: 35rem;
}

.treinamentos-title {
  font-weight: bold;
  text-align: center;
}

.circle{
  border-radius: 20px;
}

.circle{
  border-radius: 20px;
}