.cartaoImagem{
        position: relative;
        transform-style: preserve-3d;

        .cartaoTras{
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            flex-direction: row;
            transition: 0.2s ease-in-out;
        }

        .cartaoFrente{
            position: absolute;
            backface-visibility: hidden;
            transform: rotateY(180deg);
        }
}
