.cartaoImagem{
    display: flex;
    flex-direction: column;
    & .opcoes-img{

        & .btn-expanse{
            width: 100%;
            font-size: 1.25em;
            font-weight: bolder;
        }
    }
}