* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background: radial-gradient(hsl(155,100%,95%),hsl(220,100%,90%));
    color: rgb(255, 255, 255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}

a{
   color: rgb(0, 0, 0);
}

a:hover{
    color: rgb(0, 0, 0);
    transition: 0.30s all;
}

#Cadastre-se-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

#Cadastre-se-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

ul{
    margin: 100px;
}

h1{
    font-weight: 1000;
}

main{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
  color: rgb(105, 35, 35);
    
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 500px;
    border-radius: 150px;
    margin: 5% 5% 5% 5%;
    padding: 4% 5% 4% 5%;
    border: 3px solid hsl(220, 50%, 80%);
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}

form[type="submit"]:hover{
    background-color: gray;
    font-weight: bold;
}


input{
    outline: none;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
}

input:active{     
    border: 15px;
    font-size: 15px;
}

article{
    margin: 0 auto;
}
#logo::after{
    content: '📖';
}
#cor_logo{
    font-family: "Montserrat", Arial;
    background-image: linear-gradient(hsl(205, 70%, 50%), hsl(220, 100%, 90%));
    background-clip: text;
    color: transparent;
    filter: drop-shadow(5px 2px 2px black);
 }
 aside{
    margin: 5% 5% 5% 5%;
    border: 3px solid black;
    padding: 4% 5% 4% 5%;
    border: 5px solid hsl(220, 50%, 80%);
    border-radius: 50px;
    background-color: hsl(220, 100%, 98%);
 }

 #logo{
    color: black;
 }

 #empresa{
    color: black;
 }