* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    font-size: 35px;
}

.trein{
    width: 20%;
}