*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}
.nav_bar{
    display: flex;
    flex-direction: column;
    width: 25%; height: 100vh;
}
#logo{
    font-family: "Montserrat", Arial;
    font-size: 250%;
}
#cor_logo{
    font-family: "Montserrat", Arial;
    background-image: linear-gradient(hsl(205,70%,50%),hsl(220,100%,90%));
    background-clip: text;
    color: transparent;
    filter: drop-shadow(5px 2px 2px black);
}
#logo::after{
    content:'📖​';
    filter: drop-shadow(5px 2px 2px black);
}
.logoNavBar{
    background-color: hsl(205,50%,80%);
    padding: 50px 60px 50px 100px;
    /* margin-bottom: 2%; */
    box-shadow: inset 0px -5px 1px hsl(205,40%,60%);
}
.secaoUser{
    background-color: hsl(205,70%,85%);
}
.user{
    display: flex;
    flex-direction: row;
    padding: 0 10% 3% 10%;
    border-bottom: 4px solid black;
}
.saudacoes{
    padding: 4%;
    font-size: 120%;
}
.imgUser img{
    width: 70%; height: 3.8em;
    border-radius: 200px;
}
.nomeUser{
    font-family: "Montserrat", Arial;
    font-size: 140%;
    font-weight: 500;
}
aside .menu{
    padding: 30% 15% 25% 15%;
    background-color: hsl(205,100%,90%);
}
aside .navegacao{
    list-style: none;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 4% 6% 6% 6%;
}
footer{
    background-color: hsl(205,80%,87%);
    border-top: 2px solid black;
    padding: 1% 10% 2% 10%;
}
footer p{
    font-size: 150%;
    margin-bottom: 3%;
}
footer a{
    margin: 0% 0 0 35%;
}
footer p::after, footer p::before{
    content: '•';
    font-size: 120%;
    margin: 0 2% 0 2%;
}
footer img{
    transition: 1s ease-in;
}
footer img:hover{
    border-radius: 40%;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));
}