*{
    margin: 0;
    margin: 0;
    outline: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body{
  background-color: radial-gradient(hsl(155,100%,95%),hsl(220,100%,90%));
  color: black;
}

h1{
  float: left;
}
a{
  text-decoration: none;
}



