.main_login{
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    height: 100vh;
}
.secao_dados{
    background: radial-gradient(hsl(155,100%,95%),hsl(220,100%,90%));
    width: 50%;
}
section h1{
    padding-bottom: 5%;
}
td{
    padding-bottom: 4%;    
}
table tr td label{
    display: block;
    font-weight: 500;
    width: 100%;
    box-shadow: inset -1px -2px 0 hsl(20,60%,70%);
    background-color: hsl(20,60%,95%);
    padding: 2%;
    border-radius: 25px;
    color: hsl(20,60%,20%);
    width: auto;
}
.faixa{
    width: 0.8%;
    background-color: black;
}
.login_dados{
    max-width: 40%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    filter: drop-shadow(2px 6px 2px rgba(0,0,0,0.3));
    margin: 15% 15% 15% 15%;
    padding: 8% 10%;
    border: 2px solid hsl(220,50%,80%);
    border-radius: 50px;
    background-color: hsl(220,100%,98%);
}
.campo_cnpj,.campo_pass{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: auto;
}
.login_dados #cnpj, .login_dados #cnpj{
    padding-left: 14px;
    border: none;
    outline: none;
    border-radius: 20px;
    filter: drop-shadow(1px 6px 2px rgba(0,0,0,0.3));
    height: 32px;
    width: calc(100% - 14px);
    margin-bottom: 15px;
}
.login_dados #matricula::placeholder, .login_dados #cnpj::placeholder{
    padding: 10% 5% 10% 5%;
}
.campo_entrar{
    cursor: pointer;
    position: relative;
    margin-left: 30%;
    width: 40%; height: 3vh;
    border-style: none;
    background-color: hsl(220,50%,98%);
    filter: drop-shadow(0 3px 2px rgba(0,0,0,0.3));
}
.campo_submit:hover{
    background-color: hsl(220,50%,95%);
}
.campo_submit:active{
    background-color: hsl(220,50%,90%);
}
.campo_cadastrar{
    max-width: 100%;
    /* margin: 10% 10% 10% 30.5%; */
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redirecter{
    cursor: pointer;
    color: hsl(155,40%,60%);
    transition: 0.2s ease-in;
}
.redirecter:hover{
    text-decoration: underline;
    color: hsl(155,100%,30%);
}
.redirecter:active{
    color: hsl(155,100%,60%);    
}
.secao_logo{
    width: 49.2%;
    background-image:linear-gradient(hsl(155,100%,92%),rgba(60,60,60,0.2));
}
#logo{
    position: absolute;
    top: 36%; left: 58%;
    width: 40%;
}

.opcoes_selecao {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.opcoes_selecao label {
    display: flex; 
    align-items: center; 
    margin: 0 12px;     
    cursor: pointer;
}

.opcoes_selecao_texto {
    text-align: center; 
    margin-bottom: 10px; 
}

@media (max-width: 760px) {

    .main_login{
        flex-direction: column;
    }
    .secao_dados{
        width: 100%;
        height: 50%;
    }
    .login_dados{
        margin: 10% 20%;
        padding: 5% 10% 0 10%;
    }
    .campo_cadastrar{
        margin-top: auto;
        padding-bottom: 24px;
    }
    .faixa{
        width: 100%;
        height: 0.8%;
    }
    .secao_logo{
        width: 100%;
        height: 49.2%;
    }
    #logo{
        top: 69%;
        left: 8%;
        width: 100%;
    }
}
@media (max-width: 350px) {
    #logo{
        top: 74%;
    }
}
@media (max-width: 222px){
    .login_dados{
        min-width: 60%;
        margin: 20% 10%;
    }
}