.certificado-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 1px;
}

.certificado {    
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 850px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, rgba(199, 27, 27, 0.226) 50%, transparent 50%);
  font-family: 'Courier New', Courier, monospace;
  background-color: #98c2f0;
}

.certificado h1 {
  font-size: 3.5rem;
  color: #0d0d0e;
  margin-bottom: 25px;
  font-family: 'Franklin Gothic', Arial, sans-serif, 'Montserrat Italic', 'Montaga';
}

.certificado .subtitulo {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
  font-family: 'Montez';
}

.certificado .nome-participante {
  font-size: 3rem;
  font-weight: bold;
  color: #3b8da3;
  font-family: 'Great Vibes', cursive;
  margin: 10px 0;
}

.certificado .titulo-curso {
  font-size: 1.5rem;
  color: #000000;
  margin: 10px 0;
}

.certificado .data {
  font-size: 1.2rem;
  margin: 20px 0;
}

.assinaturas {
  margin: 40px 0;
}

.btn-imprimir {
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-imprimir:hover {
  background-color: #357ABD;
}

.logo .TreinOffer{
  width: 100px; /* Ajuste o tamanho da logo */
  height: auto;
  position: absolute;
  top: 20px;
  left: 100%;
  margin-bottom: 20px;
  text-align: center;

}

@media print {
  body {
      margin: 0; 
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact; 
  }

  .certificado {
      background: linear-gradient(135deg, rgb(221, 99, 99), transparent 50%); 
      color: black; 
      box-shadow: none; 
  }

  .btn-imprimir {
      display: none; 
  }
}

