.grid_module {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 20px;
  border: 2px solid hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 97%);
}

.quadradinho {
  border-radius: 20px;
  border: 2px solid black;
  width: 80em;
  margin-left: 580px;
  box-sizing: content-box;
  height: 75vh;
  box-shadow: inset 0 0 6px black;
  padding-top: 40px;
}
