.contentUpTreino{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    & .wrap-section-destino{
        display: flex;
        flex-direction: column;
        min-width: 50%;

        & .botao-modulo{
            display: flex;
            margin: 20px 0 0 0;
            border: 1mm ridge rgb(8, 8, 8);
            width: 10rem;
            column-gap: 8px;
            & > * {
                font-weight: bold;
                font-size: 1.3em;
            }
            & button{
                flex: 1;
                background: none;
                border: none;
                cursor: pointer;
                transition: ease-out 0.2s;
            }
            & button:hover{
                background-color: hsl(0,0%,90%);
                color: rgb(87, 79, 79);
            }
            & button:active{
                background-color: black;
                color: white;
            }
        }
        & .dropSection{
            width: 90em;
            box-sizing: content-box;
            height: 75vh;
            box-shadow: inset 0 0 6px black;
            padding-top: 20px;
            overflow-y: scroll;
          
        }
    }
}


