.contentUpTreino{
    margin: 3% auto;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    column-gap: 240px;
}
.isImagem{
    display: flex;
    justify-content: space-around;

}
.isImagemSingle{
    display: flex;
    justify-content: center;
}

.contentUpTreino {
    perspective: 1000px;
}
.contentUpTreino .dragSection{
    margin: 20px auto 0 auto;
    width: 132px;
    /* border: 2px solid black; */
    display: grid;
    grid-auto-flow: row;
    position: relative;
    /* flex: 1; */
    /* animation: animate 4s infinite; */
    transition: transform 0.4s ease, border-width 0.4s ease;
    transform-style: preserve-3d;
}

/* .contentUpTreino .dragSection::before {
    content: "";
    position: absolute;
    top: -4px; 
    left: -4px; 
    width: calc(100% + 4px);
    height: calc(100% + 4px); 
    border: 2px solid black;
    transition: width 0.4s ease, height 0.4s ease; 
    transform-origin: center; 
    z-index: -1; 
    } */

/* .contentUpTreino .dragSection:hover::before {
    width: calc(100% + 4px);
    height: calc(100% + 4px); 
    transform: scale(1.1);
} */

.contentUpTreino .dragSection .bt-mudar{
    display: flex;
    border: 1px solid rgb(17, 16, 16);
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: aquamarine;
}
.contentUpTreino .wrap-section-destino{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .contentUpTreino .dragSection:hover::before,
.contentUpTreino .dragSection:hover img {
    transform: scale(1.1); 
} */
.contentUpTreino .dragSection img{
    margin: 0 auto;
    width: 128px;
    cursor: grab;
    transition: transform 0.6s ease;

   
}

.contentUpTreino .dropSection img{
    margin: 0 auto;
    width: 128px;
}

.contentUpTreino .dragSection p{
    cursor: grab;
}