.barPesquisar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-image: linear-gradient(white,hsl(205,100%,80%));
    /* border-bottom: 1px solid hsl(25,70%,80%);
    margin-bottom: 32px; */
}
.secEsq{
    display: flex;
    width: 340px;
    align-items: center;
    padding-left: 16px;
    gap: 14px;
}
.secEsq > .menu{
    width: 28px; height: 28px;
    padding: 6px;
    border-radius: 25px;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.secMeio{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 380px;
}
.btPesquisar{
    height: 39px; width: 52px;
    /* border-left: none; */
    border: 1px solid hsl(25,50%,60%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    background-color: hsl(25,70%,85%);
}
.btPesquisar img{
    height: 28px; width: 28px
}
.secMeio > input{
    position: relative;
    border: 1px solid hsl(25,50%,60%);
    outline: none;
    width: 0;
    height: 38px; width: 100%;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 14px;
    box-shadow: inset 2px 0px 2px hsl(25,70%,80%);
}
.logo{
    width: 300px;
    cursor: pointer;
}
.secDir{
    display: flex;
    width: 130px;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    gap: 6px;
}
.secDir .uploadTreino{
    height: 28px; width: 28px;
    padding: 6px;
    border-radius: 25px;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.secDir .menuPerfil{
    width: 44px; height: 44px;
    border-radius: 25px;
    transition: 0.3s ease-in;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.4);
}
.secDir .uploadTreino:hover, .secDir .menu:hover{
    background-color: hsl(25,40%,80%);
    box-shadow: inset 5px 0 10px hsla(25,40%,90%);
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));
    width: 32px; height: 32px;
}
.secDir .menuPerfil:hover{
    filter: drop-shadow(0px 0px 5px hsl(25,40%,80%));
    border-color: rgba(0,0,0,0.1);
}