.main_curso{
    display: flex;
    flex-direction: column;
}
.description{
    margin: 0 auto;
    border: 1px solid black;
}
.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
    background-color: hsl(155,90%,90%);
    padding: 20px 30px;
    border-bottom: 2px solid hsl(155,80%,75%);
    margin-bottom: 32px;
}